.swiper-slide {
  height: auto;
  @media screen and (min-width: 425px) {
    max-width: 235px;
  }
  @media screen and (min-width: 768px) {
    max-width: 249px;
  }
}

// FAQ
.quesiton {
  &__items {
    max-width: 930px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(211px, 1fr));
    gap: 30px;
    margin: 34px auto 0;
    justify-items: center;
  }
  &__item {
    background: rgba(51, 98, 190, 0.3);
    border: 1px solid #375fbe;
    border-radius: 8px;
    padding: 22px 18px 16px;
    max-width: 290px;
    width: 100%;
    min-height: 156px;
    display: flex;
    flex-direction: column;
    .answer {
      font-weight: 500;
      flex: 1;
      font-size: 10px;
      line-height: 1.2em;
      margin-top: 10px;
      display: flex;
      align-items: center;
    }
  }
}
