// Видео
.video-section {
  width: 100%;
  height: 100%;
  padding-left: 240px;
  display: flex;
}
// ---------------------------------------------------->

// Что вы получите
.will-know {
  width: 1185px;
  height: 507px;
  margin: 39px 0 0 254px;
  position: relative;
  transition: transform 0.5s, margin 0.5s;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);

  .composition {
    position: relative;
    margin: 8px 0 0 139px;
    width: 704px;
    height: 461px;
    .line {
      position: absolute;
      &--1 {
        left: 141px;
        top: 0;
      }
      &--2 {
        top: 136px;
        right: 0;
      }
      &--3 {
        right: 140px;
        bottom: 0;
      }
      &--4 {
        top: 121px;
        left: 0;
      }
    }
    .arch {
      position: absolute;
      &--1 {
        top: 101px;
        right: 106px;
        transform: scale(-1, 1);
      }
      &--2 {
        bottom: 123px;
        right: 93px;
      }
      &--3 {
        left: 232px;
        bottom: 75px;
        transform: scale(-1, 1);
      }
    }
    .stand {
      margin: auto;
      position: absolute;
      width: 91px;
      &__container {
        display: flex;
        flex-direction: column;
        width: 91px;
        .title {
          font-style: italic;
          font-weight: 700;
          font-size: 8px;
          line-height: 1.25em;
          text-align: center;
          color: #ffffff;
        }

        .basement {
          position: relative;
          width: 91px;
          height: 150px;
          .icon {
            position: absolute;
            top: 2px;
            left: 50%;
            transform: translateX(-50%);
          }
          .light {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
      &-bitcoin {
        top: 110px;
        left: 319px;
      }
      &-nft {
        top: 0px;
        left: 156px;
      }
      &-safety {
        top: 22px;
        right: 195px;
      }
      &-operation {
        top: 105px;
        left: 33px;
      }
      &-mining {
        bottom: 0;
        left: 332px;
      }
      &-wallet {
        top: 138px;
        right: 1px;
      }
    }
  }
  .text {
    font-weight: 500;
    position: absolute;
    letter-spacing: 0.07em;
    &--big {
      font-size: 20px;
      line-height: 120%;
    }
    &--small {
      font-size: 18px;
      line-height: 120%;
    }
    &-1 {
      top: 0;
      left: 9px;
      max-width: 305px;
      width: 100%;
    }
    &-2 {
      top: 3px;
      right: 276px;
      max-width: 265px;
      width: 100%;
    }
    &-3 {
      top: 105px;
      right: 0;
      max-width: 357px;
      width: 100%;
    }
    &-4 {
      bottom: 25px;
      right: 27px;
      max-width: 438px;
      width: 100%;
    }
    &-5 {
      bottom: 0;
      left: 233px;
      max-width: 280px;
      width: 100%;
    }
    &-6 {
      bottom: 148px;
      left: 0;
      max-width: 305px;
      width: 100%;
    }
  }
  @media screen and (max-width: 1429px) {
    margin: 39px 0 0 170px;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1.3);
  }
  @media screen and (max-width: 1230px) {
    margin: 39px 0 0 30px;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1.5);
  }
  @media screen and (max-width: 1025px) {
    margin: 39px 0 0 30px;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1.6);
  }
  @media screen and (max-width: 990px) {
    left: -100px;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1.5);
  }
  @media screen and (max-width: 919px) {
    left: -150px;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1.5);
  }
  @media screen and (max-width: 865px) {
    left: -150px;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 2);
  }
}
// ---------------------------------------------------->

// Наша программа
.our-program {
  margin-left: 246px;
  width: 1170px;

  margin-top: 52px;
  height: 100%;
  max-height: 552px;
  position: relative;
  .road {
    bottom: 0;
    position: relative;
    display: block;
    left: 163px;
    &__arrow {
      position: absolute;
      &.arrow {
        &-1 {
          top: 77.17px;
          right: -42.94px;
        }
        &-2 {
          top: -75px;
          left: 28%;
          transform: rotate(100deg) scale(-1, 1);
        }
        &-3 {
          top: 54px;
          left: -72px;
          transform: rotate(180deg);
        }
      }
    }
  }
  &__item {
    font-size: 0.625rem;
    padding: 3em 0.5em 2.1em 2.7em;
    background: linear-gradient(89.45deg, rgba(5, 7, 36, 0.8) 10.89%, rgba(61, 23, 55, 0.8) 90.63%);
    border: 2px solid #3c2146;
    border-radius: 22px;
    position: absolute;
    max-width: 350px;
    width: 100%;
  }
  &__name {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.214285714285714em;
    color: #ffffff;
    margin-bottom: 10px;
  }
  &__list {
  }
  .program-item {
    &--first {
      bottom: 306px;
    }
    &--second {
      left: 50%;
      transform: translateX(-65%);
      bottom: 51px;
    }
    &--third {
      right: 0;
      bottom: 82px;
    }
    &__container {
      position: relative;
    }
  }
  .list {
    &__item {
      font-weight: 500;
      font-size: 10px;
      line-height: 1.2em;
      letter-spacing: 0.005em;
    }
  }
}
// ---------------------------------------------------->

// Тарифы

.tarif {
  // &--lover {
  //   --tarif_background-color: rgba(19, 58, 133, 0.1);
  //   --tarif_color: #375fbe;
  //   --tarif_linear-color: linear-gradient(180deg, var(--tarif_color) 38.24%, #ffffff 132.35%);
  //   --circle-background: #182236;
  //   background: top 0 left 24px no-repeat
  //       url('../../view/auth/auth-assets/images/tarif/blueLeftDec.svg'),
  //     top 0 right 24px no-repeat url('../../view/auth/auth-assets/images/tarif/blueRightDec.svg'),
  //     var(--tarif_background-color);
  // }
  // &--middle {
  //   --tarif_background-color: rgba(182, 24, 222, 0.1);
  //   --tarif_color: #b618de;
  //   --tarif_linear-color: linear-gradient(180deg, var(--tarif_color) 0%, #ffffff 144.12%);
  //   --circle-background: #3a1e31;
  //   background: top 0 left 24px no-repeat
  //       url('../../view/auth/auth-assets/images/tarif/purpleLeftDec.svg'),
  //     top 0 right 24px no-repeat url('../../view/auth/auth-assets/images/tarif/purpleRightDec.svg'),
  //     var(--tarif_background-color);
  // }
  // &--max {
  //   --tarif_background-color: rgba(255, 251, 44, 0.1);
  //   --tarif_color: #fffd93;
  //   --tarif_linear-color: linear-gradient(181.77deg, var(--tarif_color) 1.5%, #ffffff 169.87%);
  //   --circle-background: #3a3519;
  //   background: top 0 left 24px no-repeat
  //       url('../../view/auth/auth-assets/images/tarif/yelloLeftDec.svg'),
  //     top 0 right 24px no-repeat url('../../view/auth/auth-assets/images/tarif/yelloRightDec.svg'),
  //     var(--tarif_background-color);
  // }
}
// ---------------------------------------------------->

// Автор курса
.course-autor {
  margin-left: 312px;
  border: 1px solid #375fbe;
  border-radius: 8px;
  max-width: 973px;
  width: 100%;
  display: flex;
  overflow: hidden;
  padding: 39px 14px 0 33px;
  margin-top: 44px;

  background: top -62px right 47px / 678.34px 610.56px no-repeat url('../../view/auth/auth-assets/images/star.svg'),
    rgba(55, 95, 190, 0.3);
  &__image {
    display: flex;
    max-height: 482px;
    margin-top: auto;
  }
  .information {
    padding-left: 42px;
    padding-right: 12%;
    margin-bottom: 27px;
    .text {
      &__container {
        margin-top: 23px;
      }
      &__item {
        margin-bottom: 15px;
        font-weight: 500;
        font-size: 0.9375rem;
        line-height: 1.2em;
      }
    }
  }
  .skill {
    margin-top: 24px;
    font-weight: 800;
    font-size: 0.625rem;
    line-height: 1.2em;
    background: #58e0d8;
    border-radius: 8px;
    letter-spacing: 0.01em;
    padding: 7px 9px 8px 15px;
    max-width: 90px;
    color: #202c49;
  }

  .qualitis {
    display: flex;
    justify-content: space-between;
    .quality {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__image {
      }
      &__text {
        font-weight: 600;
        font-size: 0.625rem;
        line-height: 1.2em;
        width: 100%;
        margin-left: 7px;
        .text:first-child {
          margin-bottom: 7px;
        }
      }
      &--yello {
        * {
          color: #fbbf24;
        }
      }
      &--green {
        * {
          color: #34d399;
        }
      }
      &--red {
        * {
          color: #f87171;
        }
      }
      &--purple {
        * {
          color: #a78bfa;
        }
      }
    }
  }
}
// ---------------------------------------------------->

// Наша команда
.stuff {
  margin-left: 282px;
  margin-top: 30px;
  max-width: 926px;
  &__row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 36px;
  }
  &__item {
    max-width: 220px;
    width: 100%;
  }
  &__avatar {
    background: linear-gradient(144.92deg, #b618de 14.11%, #375fbe 49.84%, #00fff0 87.08%);
    border-radius: 8px;
    height: 220px;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  &__name {
    color: #ffffff;
  }
  &__job {
    color: #c4c4c4;
  }

  .item {
    &__text {
      text-align: center;
      margin-top: 17px;
      font-weight: 500;
      font-size: 0.9375rem;
      line-height: 120%;
    }
  }
  .avatar {
    &__image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 134%;
    }
    &__poop {
      position: absolute;
    }
  }
}
// ---------------------------------------------------->

// Формат обучение
.learning {
  margin: 98px 0 0 272px;
  &__container {
    border: 2px solid rgba(15, 213, 240, 0.5);
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    width: 100%;
    min-height: 408px;
  }
  &__item {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.2em;
    display: flex;
    padding: 12px;
    .item__text {
      color: #ffffff;
    }
    &--green {
      background: #4b998b;
      border-radius: 8px;
      .item__text {
        color: #0e282a;
      }
    }
  }

  .item {
    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: auto;
      max-width: 438px;
      width: 100%;
    }
    &__icons {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      align-items: center;
      * {
        display: block;
        &:first-child {
          margin-bottom: 18px;
        }
      }
    }
    &__text {
      max-width: 361px;
      width: 100%;
      margin-left: 15px;
    }
  }
}
// ---------------------------------------------------->

// Бонусы
.bonuses {
  max-width: 1088px;
  max-height: 429px;
  height: 100%;
  width: 100%;
  margin: auto 0 auto 254px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 30px;
}
.bonuse {
  &__container {
    width: 341px;
    height: 205px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    border-radius: 22px;
    &--first {
      background: linear-gradient(
        89.45deg,
        rgba(32, 140, 134, 1) 10.89%,
        rgba(139, 27, 120, 1) 90.63%
      );
    }
    &--middle {
      background: linear-gradient(
        89.45deg,
        rgba(247, 147, 27, 1) 10.89%,
        rgba(138, 29, 121, 1) 90.63%
      );
    }
    &--last {
      background: linear-gradient(
        89.45deg,
        rgba(255, 255, 255, 1) 10.89%,
        rgba(138, 29, 121, 1) 90.63%
      );
    }
  }
  &__back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  &__text {
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 120%;
    text-align: center;
    position: relative;
    color: #ffffff;
    background: linear-gradient(89.45deg, rgba(5, 7, 36, 1) 10.89%, rgba(61, 23, 55, 1) 90.63%);
    width: 100%;
    height: 100%;
  }
}

// ---------------------------------------------------->

// Партнеры
.partners {
  margin: 213px auto 0;
  display: flex;
  max-width: 902px;
  width: 100%;
  justify-content: space-between;
  .plate {
    border-radius: 23px;
    border: 4px solid #bababa;
  }
}
.partner {
  &__back {
    position: relative;
    width: 270px;
    height: 141px;
  }
  &__front {
    top: 13px;
    left: 22px;
    position: absolute;
    background: #ffffff;
    display: flex;
    width: 270px;
    height: 141px;
  }
  &__logo {
    max-width: 233px;
    width: 100%;
    margin: auto;
    max-height: 43px;
  }
}
// ---------------------------------------------------->

// Отзывы
.reviews {
  margin-left: 235px;
  margin-top: 126px;
  position: relative;
  max-width: 1190px;
  width: 100%;
  &__items {
    max-width: 1190px;
    margin: auto;
    width: 100%;
  }
}
.swiper-slide {
  max-width: 249px;
}
.review {
  &__item {
    background: rgba(52, 211, 153, 0.08);
    border: 1px solid #34d399;
    border-radius: 3px;
    max-width: 249px;
    padding: 12px;
    width: 100%;
    font-weight: 600;
    height: 278px;

    color: #ffffff;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
  }

  &__avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
  }
  &__meta {
    font-weight: 600;
    font-size: 0.625rem;
    line-height: 1.2em;
    text-decoration-line: underline;

    color: #34d399;
  }
}

.avatar {
  &__image {
    height: 62px;
  }
}

.autor {
  &__name {
    font-size: 0.9375rem;
    line-height: 1.2em;
  }
}

.descriptiton {
  &__text {
    font-size: 0.625rem;
    line-height: 1.2em;
    max-height: 198px;
    overflow: auto;
  }
}
// ---------------------------------------------------->

// FAQ
.quesiton {
  &__items {
    max-width: 930px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
    gap: 30px;
    margin: 34px auto 0;
    justify-items: center;
  }
  &__item {
    background: rgba(51, 98, 190, 0.3);
    border: 1px solid #375fbe;
    border-radius: 8px;
    padding: 22px 18px 16px;
    max-width: 290px;
    width: 100%;
    min-height: 156px;
    display: flex;
    flex-direction: column;
    .answer {
      font-weight: 500;
      flex: 1;
      font-size: 10px;
      line-height: 1.2em;
      margin-top: 10px;
      display: flex;
      align-items: center;
    }
  }
}
