.sidebar {
  width: 100%;
  max-width: 223px;
  height: 100vh;
  display: flex;
  background: rgba(21, 21, 21, 0.07);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  backdrop-filter: blur(7px);
  transition: left 0.3s;
  &__container {
    width: 100%;
    height: 100%;
    max-height: 800px;
    margin: auto 0;
    padding: 15px 0 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
  }
  &__logo {
    max-width: 102px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    &__picture {
      width: 87px;
      height: 89px;
      margin: 0 auto 5px;
    }
    &__heading {
      * {
        font-family: 'Audiowide', cursive;
        text-align: center;
      }
    }
  }
  &__controls {
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  &__buttons {
    margin-top: 28px;
  }
  &-toggle {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 20%;
    display: none;
    align-items: center;
    justify-content: start;
    color: #fff;
    & > p {
      transform: rotate(-90deg);
      cursor: default;
    }
    &:hover + .sidebar {
      left: 0%;
    }
  }
  @media screen and (max-width: 1439px) {
    left: -100%;
    &:hover {
      left: 0;
    }
    &-toggle {
      display: flex;
    }
  }
}

.navbar {
  max-height: 416px;
  color: #fff;
  overflow-y: auto;
  &__items {
    counter-reset: item;
    list-style-type: none;
  }

  &__item {
    margin-bottom: 0.75em;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25em;
    cursor: pointer;
    color: #c8c8c8;
    transition: all 0.1s linear;
    &--active {
      color: #ffffff;
      font-weight: 800;
    }
    &::before {
      content: counter(item, decimal-leading-zero) ' ';
      counter-increment: item;
    }
  }
}

.mail {
  display: flex;
  align-items: center;
  .emailImage {
    width: 18px;
    margin-right: 8px;
    margin-left: 9px;
  }

  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.230769230769231em;
  color: #ffffff;
}
