.table {
  padding-top: 18px;
  padding-bottom: 35px;
  border-radius: 6px;
  &__header {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      background: rgba(0, 255, 240, 0.3);
      border-radius: 98px;
      height: 1px;
      bottom: -1px;
      left: 0;
      right: 0;
    }
  }
  &__heading {
    display: flex;
    align-items: center;
    &--first {
      padding-bottom: 11px;
      .heading__icon {
        margin-right: 8.35px;
      }
    }
    &--second {
      padding-bottom: 6px;
      .heading__icon {
        margin-right: 5px;
      }
    }
  }
  &--first {
    max-width: 302px;
    background: #0c0c0c;
    border: 1px solid #00fff0;
    padding-left: 15px;
    padding-right: 15px;
  }
  &--second {
    padding-left: 22px;
    padding-right: 22px;
    max-width: 278px;
    background: linear-gradient(
      122.04deg,
      rgba(51, 190, 165, 0.3) 6.87%,
      rgba(51, 98, 190, 0.3) 83.74%
    );
    border: 1px solid #0fffd4;
    backdrop-filter: blur(4px);
    position: relative;
    bottom: 56px;
    left: 148px;
    transition: left 0.2s;
    .mobile-auth & {
      @media screen and (max-width: 910px) {
        bottom: 24px;
        left: 0;
      }
    }
  }

  &__statistic {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 13px;
    &--first {
      margin: 11px 0 15px;
    }
    &--second {
      margin-top: 15px;
    }
  }
  .statistic {
    &__item {
      font-style: normal;
      font-weight: 400;
    }
    &__name {
      font-size: 13px;
      line-height: 120%;
      margin-bottom: 5px;
      color: #7c7c7c;
      .mobile-auth & {
        @media screen and (max-width: 567px) {
          font-size: 10px;
        }
      }
    }
    &__value {
      font-size: 15px;
      line-height: 120%;
      color: #ffffff;
      .mobile-auth & {
        @media screen and (max-width: 567px) {
          font-size: 13px;
        }
      }
    }
  }
}
