.container {
  color: #d8d8d8;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.2em;
  letter-spacing: 0.05em;
  height: 100vh;
  max-width: 1440px;
  width: 100%;
  display: flex;
  margin: 0 auto;

  .content {
    display: flex;
    margin: auto 0 auto auto;
    height: 100%;
    max-height: 560px;
    align-items: center;
    .leftContent {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      max-width: 533px;
      .content__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-height: 450px;
        height: 100%;
        .list {
          li {
            margin-bottom: 14px;
          }
        }
      }

      .buttons {
        display: flex;
        max-width: 507px;
        justify-content: space-between;
      }
    }
    .rightContent {
    }
  }
}
