.videoplayer {
  position: relative;
  border: 7px solid #ffffff;
  width: 100%;
  width: 100%;
  height: 100%;
  .video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .player {
    &__container {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 27px;
      display: flex;
      justify-content: space-between;
    }
    &__buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 19px 0 9px;
      height: 27px;
      width: 100%;
      max-width: 99px;
      .buttons {
        &__playstart {
        }
      }
    }
    &__bar {
      max-width: 694px;
      width: 100%;
      background: rgba(69, 66, 66, 0.5);
      height: 27px;
      position: relative;
      .bar {
        &__line {
          position: absolute;
          cursor: pointer;
          height: 4px;
          background: #ffffff;
          border-radius: 142px;
          top: 50%;
          transform: translateY(-50%);
          left: 12px;
          right: 12px;
          .line {
            &__container {
              position: relative;
              width: 100%;
              height: 100%;
            }
            &__point {
              background: #ffffff;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              position: relative;
              top: 50%;
              transform: translateY(-50%);
              left: 0;
            }
          }
        }
      }
    }
  }
}
