.root {
  background: linear-gradient(110.51deg, #00fff0 -12.74%, #3362be 90.2%);
  border-radius: 8px;
  font-style: normal;
  font-weight: 800;
  font-size: 0.9375rem;
  line-height: 1.2em;
  padding: 0.9333333333333333em 2.266666666666667em;
  cursor: pointer;
  color: #ffffff;
}
