@import '../global';

// Swiper

.posts-slider {
  max-width: 1319px;
  margin: auto;
  width: 100%;
  min-height: 687px;
  z-index: 1;
}

.swiper-pagination {
  display: none;
}

.swiper-pagination-bullet {
  background: #767676;
  width: 22px;
  height: 22px;
  cursor: pointer;
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  background: linear-gradient(138.6deg, #3562B8 -0.11%, #18B7B2 100%);
}

@media (min-width: 768px) {
  .swiper-pagination {
    display: block;
  }
}

// Bonuses Modal

.bonuses-modal {
  max-width: 1228px;
  height: 100%;
}

.bonuses {
  border-radius: 31px;
  background: linear-gradient(113.39deg, #393939 0%, #1E1E1E 100%);
  width: 100%;
  margin: 0 auto;
  padding: 0px 36px;
  height: 100%;
  max-height: 807px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.bonuses-title {
  font-size: 24px !important;
  word-wrap: break-word;
  margin: 20px auto !important;
}

.bonuses-section {
  display: grid;
  align-content: center;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.gift-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gift-image {
  display: block;
  width: 100%;
  height: auto;
  z-index: 1;
  max-width: 280px;
  max-height: 280px;
  position: relative;
  overflow: hidden;
}

.selected-gift {
  filter: drop-shadow(0px 12px 32px #555);
  -webkit-filter: drop-shadow(0px 12px 32px #555);
}

.gift-content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 25%;
  max-height: 200px;
  text-align: center;
  overflow: hidden;
  z-index: 10;
}

.gift-title-content {
  font-size: 20px;
}

.gift-text-content {
  font-size: 14px;
  width: 100%;
  max-width: 240px;
  height: 120px;
  margin: 20px auto 0 auto;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 6;
  -webkit-line-clamp: 6;
  line-clamp: 6;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

.gift-lock {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: auto;
  max-width: 140px;
  max-height: 140px;
  z-index: 10;
}

.transparent {
  opacity: 20%;
}

@media (min-width: 425px) {
  .gift-text-content {
    height: 120px;
    margin: 54px auto 0 auto;
    font-size: 1em;
  }

  .bonuses-title {
    font-size: 34px !important;
  }
}

@media (min-width: 576px) {
  .bonuses-section {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .gift-text-content {
    margin: 20px auto auto auto;
    font-size: 14px;
  }

  .gift-title-content {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .gift-text-content {
    font-size: 1em;
    margin: 54px auto 0 auto;
  }
  .gift-title-content {
    font-size: 20px;
    margin-top: 0;
  }
}

@media (min-width: 1024px) {
  .bonuses-section {
    grid-template-columns: repeat(3, 1fr);
    height: 300px;
  }

  .posts-slider {
    margin: 40px auto 0 auto;
  }

  .gift-image {
    max-width: 300px;
    max-height: 300px;
  }
}
