* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  border: 0;
  color: #d8d8d8;
}

a {
  text-decoration: unset;
}

button {
  background: none;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0;
}

ol,
ul {
  list-style-type: none;
}

.decstop-app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: center / 100% 100% no-repeat url('../assets/images/background.png'), #c4c4c4;
  display: flex;
  main {
    width: 100%;
    .section {
      height: 100vh;
      width: 100vw;
      display: flex;
      scroll-snap-align: start;
      scroll-snap-stop: always;
      object-fit: cover;
      .container {
        height: 100vh;
        max-width: 1440px;
        max-height: 800px;
        width: 100%;
        display: flex;
        margin: auto;
        flex-direction: column;
      }
    }
  }
}

@import './styles/landing/buttons', './styles/landing/heading', './styles/landing/sidebar',
  './styles/landing/videoplayer', './styles/landing/scroll', './styles/landing/tables',
  './styles//landing/sections';
