* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  border: 0;
}

button {
  background: none;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0;
}

.decstop-app {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background: center / 100% 100% no-repeat url('../assets/images/background.png'), #c4c4c4;
  display: flex;
}
main {
  width: 100%;

  .scroll-container {
    height: 100vh;
    overflow: hidden;
    scroll-snap-type: y mandatory;
  }
}

.scroll__button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: none;
  border: 0;
  cursor: pointer;
  &--prev {
    top: 25px;
  }
  &--next {
    bottom: 25px;
    transform: rotate(180deg);
  }
}
