// Главная
.home-section {
  width: 100%;
  max-width: 1046px;
  height: 100%;
  max-height: 560px;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.2em;
  letter-spacing: 0.05em;
  display: flex;
  margin: auto 0 auto auto;
  position: relative;
  top: -35px;
  left: -31px;
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-width: 533px;
    .buttons {
      display: flex;
      max-width: 507px;
      justify-content: space-between;
    }
  }

  .content {
    &__text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-height: 450px;
      height: 100%;
    }
  }
  .list {
    list-style-type: disc;
    &__item {
      margin-bottom: 14px;
    }
  }
}
// ---------------------------------------------------->

// Видео
.video-section {
  width: 100%;
  height: 100%;
  padding-left: 240px;
  display: flex;
}
// ---------------------------------------------------->

// Рынок сегодня
.whatyoutake-section {
  margin: 0 auto;
  width: 100%;
  .heading__h3 {
    text-align: center;
  }
  .content {
    display: flex;
    justify-content: space-between;
    margin: 54px 68px auto auto;
    max-width: 1050px;
    &__text {
      .text {
        position: relative;
        font-weight: 500;
        &--first {
          max-width: 620px;
          font-size: 1.25rem;
          line-height: 1.2em;
          letter-spacing: 0.07em;
          top: 0;
          left: -70px;
        }
        &--second {
          max-width: 400px;
          font-size: 1.125rem;
          line-height: 1.375em;
          letter-spacing: 0.07em;
          top: 34px;
          left: 227px;
        }
        &--third {
          max-width: 551px;
          font-weight: 700;
          font-size: 1.25rem;
          line-height: 1.2em;
          text-align: center;
          letter-spacing: 0.07em;
          top: 54px;
          left: 53px;
        }
        &--fourth {
          max-width: 393px;
          font-size: 1rem;
          line-height: 1.25em;
          letter-spacing: 0.07em;
          top: 108px;
          left: -2px;

          color: #c6c6c6;
        }
      }
    }
  }
}
// ---------------------------------------------------->

// Что вы получите
.will-know {
  max-width: 1185px;
  width: 100%;
  height: 507px;
  margin: 39px 0 0 254px;
  position: relative;
  .composition {
    position: relative;
    margin: 8px 0 0 139px;
    width: 704px;
    height: 461px;
    .line {
      position: absolute;
      &--1 {
        left: 141px;
        top: 0;
      }
      &--2 {
        top: 136px;
        right: 0;
      }
      &--3 {
        right: 140px;
        bottom: 0;
      }
      &--4 {
        top: 121px;
        left: 0;
      }
    }
    .arch {
      position: absolute;
      &--1 {
        top: 101px;
        right: 106px;
        transform: scale(-1, 1);
      }
      &--2 {
        bottom: 123px;
        right: 93px;
      }
      &--3 {
        left: 232px;
        bottom: 75px;
        transform: scale(-1, 1);
      }
    }
    .stand {
      margin: auto;
      position: absolute;
      width: 91px;
      &__container {
        display: flex;
        flex-direction: column;
        width: 91px;
        .title {
          font-style: italic;
          font-weight: 700;
          font-size: 0.5rem;
          line-height: 1.25em;
          text-align: center;
          color: #ffffff;
        }

        .basement {
          position: relative;
          width: 91px;
          height: 150px;
          .icon {
            position: absolute;
            top: 2px;
            left: 50%;
            transform: translateX(-50%);
          }
          .light {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
      &-bitcoin {
        top: 110px;
        left: 319px;
      }
      &-nft {
        top: 0px;
        left: 156px;
      }
      &-safety {
        top: 22px;
        right: 195px;
      }
      &-operation {
        top: 105px;
        left: 33px;
      }
      &-mining {
        bottom: 0;
        left: 332px;
      }
      &-wallet {
        top: 138px;
        right: 1px;
      }
    }
  }
  .text {
    font-weight: 500;
    position: absolute;
    letter-spacing: 0.07em;
    &--big {
      font-size: 20px;
      line-height: 24px;
    }
    &--small {
      font-size: 18px;
      line-height: 22px;
    }
    &-1 {
      top: 0;
      left: 9px;
      max-width: 305px;
      width: 100%;
    }
    &-2 {
      top: 3px;
      right: 276px;
      max-width: 265px;
      width: 100%;
    }
    &-3 {
      top: 105px;
      right: 0;
      max-width: 357px;
      width: 100%;
    }
    &-4 {
      bottom: 25px;
      right: 27px;
      max-width: 438px;
      width: 100%;
    }
    &-5 {
      bottom: 0;
      left: 233px;
      max-width: 280px;
      width: 100%;
    }
    &-6 {
      bottom: 148px;
      left: 0;
      max-width: 305px;
      width: 100%;
    }
  }
}
// ---------------------------------------------------->

// Наша программа
.our-program {
  margin-left: 246px;
  max-width: 1170px;
  width: 100%;
  margin-top: 52px;
  height: 100%;
  max-height: 552px;
  position: relative;
  .road {
    bottom: 0;
    position: absolute;
    display: block;
    left: 163px;
    &__arrow {
      position: absolute;
      &.arrow {
        &-1 {
          top: 77.17px;
          right: -42.94px;
        }
        &-2 {
          top: -75px;
          left: 28%;
          transform: rotate(100deg) scale(-1, 1);
        }
        &-3 {
          top: 54px;
          left: -72px;
          transform: rotate(180deg);
        }
      }
    }
  }
  &__item {
    padding: 30px 0 21px 27px;
    background: linear-gradient(89.45deg, rgba(5, 7, 36, 0.8) 10.89%, rgba(61, 23, 55, 0.8) 90.63%);
    border: 2px solid #3c2146;
    border-radius: 22px;
    position: absolute;
    max-width: 350px;
    width: 100%;
  }
  &__name {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.214285714285714em;
    color: #ffffff;
    margin-bottom: 10px;
  }
  &__list {
  }
  .program-item {
    &--first {
    }
    &--second {
      left: 50%;
      transform: translateX(-65%);
      bottom: 51px;
    }
    &--third {
      right: 0;
      bottom: 82px;
    }
    &__container {
      position: relative;
    }
  }
  .list {
    &__item {
      font-weight: 500;
      font-size: 0.625rem;
      line-height: 1.2em;
      letter-spacing: 0.005em;
    }
  }
}
// ---------------------------------------------------->

// Тарифы
.tarifs {
  margin-top: 51px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 77px;
  margin-left: 229px;
  padding: 0 50px;
}

.tarif {
  padding: 45px 10px 17px;
  &--lover {
    --tarif_background-color: rgba(19, 58, 133, 0.1);
    --tarif_color: #375fbe;
    --tarif_linear-color: linear-gradient(180deg, var(--tarif_tarif_color) 38.24%, #ffffff 132.35%);
    --circle-background: #182236;
    background: top 0 left 24px no-repeat url('../../../assets/images/tarif/blueLeftDec.svg'),
      top 0 right 24px no-repeat url('../../../assets/images/tarif/blueRightDec.svg'),
      var(--tarif_background-color);
  }
  &--middle {
    --tarif_background-color: rgba(182, 24, 222, 0.1);
    --tarif_color: #b618de;
    --tarif_linear-color: linear-gradient(180deg, var(--tarif_color) 0%, #ffffff 144.12%);
    --circle-background: #3a1e31;
    background: top 0 left 24px no-repeat url('../../../assets/images/tarif/purpleLeftDec.svg'),
      top 0 right 24px no-repeat url('../../../assets/images/tarif/purpleRightDec.svg'),
      var(--tarif_background-color);
  }
  &--max {
    --tarif_background-color: rgba(255, 251, 44, 0.1);
    --tarif_color: #fffd93;
    --tarif_linear-color: linear-gradient(181.77deg, var(--tarif_color) 1.5%, #ffffff 169.87%);
    --circle-background: #3a3519;
    background: top 0 left 24px no-repeat url('../../../assets/images/tarif/yelloLeftDec.svg'),
      top 0 right 24px no-repeat url('../../../assets/images/tarif/yelloRightDec.svg'),
      var(--tarif_background-color);
  }

  backdrop-filter: blur(7px);
  border-radius: 8px;
  &__container {
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &__header {
    margin-bottom: 9px;
    .icon {
      position: relative;
      text-align: center;
      width: 153px;
      height: 153px;
      border-radius: 50%;
      background: var(--circle-background);
      margin: 11px auto 0;
      display: flex;
      &:before {
        content: '';
        position: absolute;
        top: -2px;
        bottom: -2px;
        left: -2px;
        right: -2px;
        background: linear-gradient(
          180deg,
          var(--tarif_color),
          #ffffff 49.48%,
          var(--tarif_color) 100%
        );
        border-radius: 50%;
        z-index: -1;
      }
      &:after {
        content: '';
        position: absolute;
        top: 11px;
        bottom: 11px;
        left: 11px;
        right: 11px;
        background: linear-gradient(
          180deg,
          var(--tarif_color),
          #ffffff 49.48%,
          var(--tarif_color) 100%
        );
        border-radius: 50%;
        z-index: 1;
      }
      .icon-image__wrapper {
        margin: auto;
        z-index: 2;
        width: 127px;
        height: 127px;
        border-radius: 50%;
        background-color: var(--circle-background);
        border: 5px solid var(--circle-background);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &__main {
    margin-bottom: 5px;
  }

  &__item {
    display: flex;
    align-items: center;
    max-width: 266px;
    margin: auto;
    .text {
      margin-left: 13px;
      font-weight: 500;
      font-size: 0.75rem;
      line-height: 1.25em;

      color: #ffffff;
    }
    &:not(:last-child) {
      margin-bottom: 11px;
    }
  }
  &__footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .price {
      font-style: italic;
      font-weight: 700;
      font-size: 1.3125rem;
      line-height: 1.238095238095238em;
      margin-bottom: 4px;
      color: #8f8b8b;
      * {
        color: #8f8b8b;
      }
    }
    .sale {
      font-style: italic;
      font-weight: 700;
      font-size: 1.125rem;
      line-height: 1.222222222222222em;
      margin-bottom: 11px;
      color: #ffffff;
    }
    .button__section {
      font-size: 0.8125rem;
      max-width: 140px;
      width: 100%;
      padding: 0.6923076923076923em 0;
      &:disabled {
        background: linear-gradient(110.51deg, #626262 -12.74%, #464749 90.2%);
        color: #b3adad;
        cursor: not-allowed;
      }
    }
  }
}
// ---------------------------------------------------->

// Автор курса
.course-autor {
  margin-left: 312px;
  border: 1px solid #375fbe;
  border-radius: 8px;
  max-width: 973px;
  width: 100%;
  display: flex;
  overflow: hidden;
  padding: 39px 14px 0 33px;
  margin-top: 44px;
  background: top -62px right 47px / 678.34px 610.56px no-repeat url('../../../assets/images/star.svg'),
    rgba(55, 95, 190, 0.3);
  &__image {
    display: flex;
    max-height: 482px;
    margin-top: auto;
  }
  .information {
    padding-left: 42px;
    padding-right: 12%;
    margin-bottom: 27px;
    .text {
      &__container {
        margin-top: 23px;
      }
      &__item {
        margin-bottom: 15px;
        font-weight: 500;
        font-size: 0.9375rem;
        line-height: 1.2em;
      }
    }
  }
  .skill {
    margin-top: 24px;
    font-weight: 800;
    font-size: 0.625rem;
    line-height: 1.2em;
    background: #58e0d8;
    border-radius: 8px;
    letter-spacing: 0.01em;
    padding: 7px 9px 8px 15px;
    max-width: 90px;
    color: #202c49;
  }

  .qualitis {
    display: flex;
    justify-content: space-between;
    .quality {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__image {
      }
      &__text {
        font-weight: 600;
        font-size: 0.625rem;
        line-height: 1.2em;
        width: 100%;
        margin-left: 7px;
        .text:first-child {
          margin-bottom: 7px;
        }
      }
      &--yello {
        * {
          color: #fbbf24;
        }
      }
      &--green {
        * {
          color: #34d399;
        }
      }
      &--red {
        * {
          color: #f87171;
        }
      }
      &--purple {
        * {
          color: #a78bfa;
        }
      }
    }
  }
}
// ---------------------------------------------------->

// Наша команда
.stuff {
  margin-left: 282px;
  margin-top: 30px;
  max-width: 926px;
  &__row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 36px;
  }
  &__item {
    max-width: 220px;
    width: 100%;
  }
  &__avatar {
    background: linear-gradient(144.92deg, #b618de 14.11%, #375fbe 49.84%, #00fff0 87.08%);
    border-radius: 8px;
    height: 220px;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  &__name {
    color: #ffffff;
  }
  &__job {
    color: #c4c4c4;
  }

  .item {
    &__text {
      text-align: center;
      margin-top: 17px;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
    }
  }
  .avatar {
    &__image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 134%;
    }
    &__poop {
      position: absolute;
    }
  }
}
// ---------------------------------------------------->

// Формат обучение
.learning {
  margin: 98px 0 0 272px;
  &__container {
    border: 2px solid rgba(15, 213, 240, 0.5);
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    width: 100%;
    min-height: 408px;
  }
  &__item {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.2em;
    display: flex;
    padding: 12px;
    .item__text {
      color: #ffffff;
    }
    &--green {
      background: #4b998b;
      border-radius: 8px;
      .item__text {
        color: #0e282a;
      }
    }
  }

  .item {
    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: auto;
      max-width: 438px;
      width: 100%;
    }
    &__icons {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      align-items: center;
      * {
        display: block;
        &:first-child {
          margin-bottom: 18px;
        }
      }
    }
    &__text {
      max-width: 361px;
      width: 100%;
      margin-left: 15px;
    }
  }
}
// ---------------------------------------------------->

// Бонусы
.bonuses {
  max-width: 1088px;
  max-height: 429px;
  height: 100%;
  width: 100%;
  margin: 61px 0 0 254px;
  display: flex;
}
.bonuse {
  &__container {
    width: 341px;
    height: 205px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &--first {
    }
    &--middle {
      margin: auto 32px;
    }
    &--last {
      margin-top: auto;
    }
  }
  &__back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  &__text {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    position: relative;
    color: #ffffff;
    max-width: 294px;
  }
}
.text {
  &__span {
    color: #b618de;
  }
}
// ---------------------------------------------------->

// Партнеры
.partners {
  margin: 213px auto 0;
  display: flex;
  max-width: 902px;
  width: 100%;
  justify-content: space-between;
  .plate {
    border-radius: 23px;
    border: 4px solid #bababa;
  }
}
.partner {
  &__back {
    position: relative;
    width: 270px;
    height: 141px;
  }
  &__front {
    top: 13px;
    left: 22px;
    position: absolute;
    background: #ffffff;
    display: flex;
    width: 270px;
    height: 141px;
  }
  &__logo {
    max-width: 233px;
    width: 100%;
    margin: auto;
    max-height: 43px;
  }
}
// ---------------------------------------------------->

// Отзывы
.reviews {
  margin-left: 235px;
  margin-top: 126px;
  position: relative;
  &__items {
    max-width: 1190px;
    margin: auto;
  }
}
.review {
  &__item {
    background: rgba(52, 211, 153, 0.08);
    border: 1px solid #34d399;
    border-radius: 3px;
    max-width: 249px;
    padding: 12px;
    width: 100%;
    font-weight: 600;
    height: 278px;

    color: #ffffff;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
  }

  &__avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
  }
  &__meta {
    font-weight: 600;
    font-size: 0.625rem;
    line-height: 1.2em;
    text-decoration-line: underline;

    color: #34d399;
  }
}

.avatar {
  &__image {
    height: 62px;
  }
}

.autor {
  &__name {
    font-size: 0.9375rem;
    line-height: 1.2em;
  }
}

.descriptiton {
  &__text {
    font-size: 0.625rem;
    line-height: 1.2em;
    max-height: 198px;
    overflow: auto;
  }
}
// ---------------------------------------------------->

// FAQ
.quesiton {
  &__items {
    max-width: 930px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
    gap: 30px;
    margin: 34px auto 0;
    justify-items: center;
  }
  &__item {
    background: rgba(51, 98, 190, 0.3);
    border: 1px solid #375fbe;
    border-radius: 8px;
    padding: 22px 18px 16px;
    max-width: 290px;
    width: 100%;
    min-height: 156px;
    display: flex;
    flex-direction: column;
    .answer {
      font-weight: 500;
      flex: 1;
      font-size: 0.625rem;
      line-height: 1.2em;
      margin-top: 10px;
      display: flex;
      align-items: center;
    }
  }
}
